---
import ThemeToggle from "../ThemeToggle.astro";
import { MENU_LINKS } from "@/data/constants";

const url = new URL(Astro.request.url);
---

<script>
	import { toggleClass } from "@/utils";

	document.addEventListener("DOMContentLoaded", () => {
		const header = document.getElementById("main-header") as HTMLElement;
		const toggleMenuButton = document.getElementById("toggle-navigation-menu") as HTMLButtonElement;
		let menuOpen = false;

		toggleMenuButton.addEventListener("click", () => {
			toggleClass(header, "menu-open");
			menuOpen = !menuOpen;
			toggleMenuButton.setAttribute("aria-expanded", menuOpen.toString());
		});
	});
</script>

<header id="main-header" class="group relative mb-4 flex items-center sm:ps-[4.5rem]">
	<div class="flex sm:flex-col">
		<a
			href="/"
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				x="0px"
				y="0px"
				width="100"
				height="200"
				viewBox="0 0 100 100"
				class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
				aria-hidden="true"
				focusable="false"
				fill=""
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 272 480"
			>
				<path
					d="M 47.048828 4.640625 A 1.0001 1.0001 0 0 0 46.048828 5.5644531 L 45.470703 13.009766 L 41.701172 13.064453 A 1.0001 1.0001 0 0 0 40.714844 14.023438 L 40.591797 17.109375 C 37.356209 17.595709 34.20841 18.619693 31.875 20.998047 C 27.529997 25.426757 22.226165 29.832961 22.185547 39.917969 C 22.147177 49.445854 22.662109 85.216797 22.662109 85.216797 A 2.0002 2.0002 0 0 0 23.513672 86.826172 C 23.513672 86.826172 33.997417 94.093797 51.703125 93.464844 C 69.115126 92.846324 78.414062 88.929687 78.414062 88.929688 A 2.0002 2.0002 0 0 0 79.621094 86.888672 L 78.744141 78.261719 A 2.0002 2.0002 0 0 0 76.488281 76.480469 L 74.509766 76.746094 L 73.732422 66.818359 L 76.46875 66.662109 A 2.0002 2.0002 0 0 0 78.355469 64.642578 L 78.287109 58.583984 C 78.801952 58.571835 79.372441 58.542146 79.998047 58.445312 C 80.865519 58.311042 81.812837 58.08379 82.736328 57.527344 C 83.65982 56.970897 84.582275 55.911239 84.785156 54.570312 C 85.089261 52.559691 84.957325 49.139067 84.835938 46.013672 C 84.829937 44.124713 84.063619 42.315901 82.710938 40.998047 A 2.0002 2.0002 0 0 0 82.708984 40.998047 C 81.353876 39.679224 79.523147 38.960875 77.632812 39.005859 L 77.628906 39.005859 C 77.565332 39.007312 77.457067 39.010241 77.392578 39.011719 A 2.0002 2.0002 0 0 0 77.392578 39.007812 C 77.392578 39.007812 77.489868 36.105503 76.824219 32.625 C 76.158572 29.144497 74.777807 24.877746 71.302734 22.185547 C 67.221784 19.023963 63.365932 17.459457 59.210938 16.863281 L 58.490234 13.621094 A 1.0001 1.0001 0 0 0 57.5 12.837891 L 54.558594 12.880859 L 53.798828 6.1210938 A 1.0001 1.0001 0 0 0 52.90625 5.2363281 L 47.148438 4.6464844 A 1.0001 1.0001 0 0 0 47.048828 4.640625 z M 47.962891 6.7421875 L 51.900391 7.1445312 L 52.548828 12.908203 L 47.480469 12.982422 L 47.962891 6.7421875 z M 56.714844 14.849609 L 57.117188 16.664062 C 55.842547 16.576483 54.542805 16.545466 53.185547 16.595703 C 50.185691 16.70674 46.360945 16.529604 42.603516 16.871094 L 42.675781 15.050781 L 53.644531 14.894531 A 1.0001 1.0001 0 0 0 53.71875 14.892578 L 56.714844 14.849609 z M 55.548828 20.560547 C 58.190812 20.594606 60.461349 20.926973 62.714844 21.771484 L 60.617188 23.574219 A 1.0001 1.0001 0 1 0 61.921875 25.089844 L 64.734375 22.669922 C 65.052657 22.834202 65.378521 23.03477 65.701172 23.222656 L 58.421875 29.169922 A 1.0001 1.0001 0 1 0 59.6875 30.71875 L 67.474609 24.355469 C 67.929024 24.67175 68.38053 24.981226 68.853516 25.347656 C 71.042443 27.043457 72.318678 30.364003 72.894531 33.375 C 72.945337 33.640648 72.966653 33.870726 73.007812 34.126953 C 72.941091 34.145754 72.906502 34.162809 72.835938 34.181641 C 70.805065 34.723615 67.164583 35.265308 60.949219 35.140625 C 56.827767 35.058065 53.171417 34.692134 50.15625 34.613281 C 47.141083 34.534431 44.688157 34.656651 43.021484 36.064453 C 42.11764 36.827912 41.680485 37.940029 41.416016 39.109375 C 41.151546 40.278721 41.073047 41.545817 41.074219 42.730469 C 41.076519 45.099772 41.410156 47.167969 41.410156 47.167969 A 1.0001 1.0001 0 1 0 43.384766 46.851562 C 43.384766 46.851562 43.076376 44.910462 43.074219 42.728516 C 43.073119 41.637542 43.152139 40.492967 43.365234 39.550781 C 43.578327 38.608596 43.938345 37.907838 44.3125 37.591797 C 45.201827 36.840601 47.210933 36.535681 50.103516 36.611328 C 52.996099 36.686978 56.692655 37.056183 60.908203 37.140625 C 67.18876 37.266616 70.977526 36.732173 73.267578 36.130859 C 73.411198 37.737767 73.394531 38.878906 73.394531 38.878906 A 2.0002 2.0002 0 0 0 73.400391 39.109375 C 67.291522 39.254425 59.766998 39.437205 54.673828 39.564453 C 52.800701 39.610553 51.022352 40.402575 49.734375 41.761719 C 48.445834 43.121458 47.752194 44.940366 47.806641 46.8125 A 2.0002 2.0002 0 0 0 47.806641 46.814453 C 47.854611 48.450533 47.906121 50.26139 47.953125 51.888672 C 48.011769 53.900175 48.931411 55.697584 50.341797 56.947266 C 47.841967 57.062596 46.38311 56.811672 45.626953 56.53125 C 45.096246 56.334439 44.90307 56.141761 44.839844 56.066406 C 44.818054 56.040426 44.822386 56.045342 44.822266 56.044922 A 1.0001 1.0001 0 0 0 43.894531 55.304688 A 1.0001 1.0001 0 0 0 42.871094 56.466797 C 42.871094 56.466797 42.909714 56.668706 42.976562 56.824219 C 43.043413 56.979731 43.150504 57.165099 43.308594 57.353516 C 43.624774 57.730348 44.141722 58.113311 44.931641 58.40625 C 46.475571 58.978813 49.084591 59.261374 53.847656 58.628906 C 54.240645 58.694543 54.641977 58.733761 55.052734 58.730469 C 61.865997 58.676789 71.565508 58.601459 74.287109 58.580078 L 74.333984 62.777344 L 71.464844 62.941406 A 2.0002 2.0002 0 0 0 70.392578 63.330078 C 69.489723 63.318186 64.361618 63.255319 58.214844 63.400391 C 54.86099 63.479541 51.35967 63.620407 48.386719 63.869141 C 45.413768 64.117874 43.048372 64.413279 41.589844 65.042969 C 39.068476 66.131754 37.47879 67.910631 36.650391 69.894531 C 35.821992 71.878432 35.715474 74.03525 35.933594 76.025391 C 36.155296 78.048218 36.791062 79.513153 37.810547 80.494141 C 38.830032 81.475128 40.128047 81.903654 41.472656 82.162109 C 45.463158 82.928775 50.403077 83.092299 55.230469 82.876953 A 1.0001 1.0001 0 0 0 54.710938 83.431641 L 52.339844 89.431641 C 52.076957 89.442467 51.83032 89.457283 51.5625 89.466797 C 51.23765 89.478336 50.932021 89.474052 50.613281 89.480469 L 52.566406 85.009766 A 1.0001 1.0001 0 0 0 51.652344 83.595703 A 1.0001 1.0001 0 0 0 50.734375 84.208984 L 48.423828 89.490234 C 43.909313 89.419176 40.077051 88.849155 36.923828 88.089844 L 37.869141 85.189453 A 1.0001 1.0001 0 0 0 36.921875 83.865234 A 1.0001 1.0001 0 0 0 35.966797 84.570312 L 34.988281 87.580078 C 34.568665 87.459036 34.165232 87.336049 33.775391 87.210938 L 35.919922 83.509766 A 1.0001 1.0001 0 0 0 35.070312 81.996094 A 1.0001 1.0001 0 0 0 34.189453 82.505859 L 31.849609 86.544922 C 31.175643 86.290322 30.614558 86.043562 30.060547 85.798828 L 34.285156 81.089844 A 1.0001 1.0001 0 0 0 33.566406 79.412109 A 1.0001 1.0001 0 0 0 32.794922 79.755859 L 28.175781 84.904297 C 27.594165 84.598893 27.119904 84.335397 26.802734 84.140625 L 30.158203 80.791016 A 1.0001 1.0001 0 0 0 29.431641 79.074219 A 1.0001 1.0001 0 0 0 28.744141 79.376953 L 26.615234 81.503906 C 26.576409 78.756432 26.471054 71.203616 26.359375 61.619141 L 29.970703 60.408203 A 1.0001 1.0001 0 0 0 29.699219 58.457031 A 1.0001 1.0001 0 0 0 29.335938 58.513672 L 26.337891 59.517578 C 26.33267 59.05519 26.327341 58.622192 26.322266 58.162109 L 33.125 56.128906 A 1.0001 1.0001 0 0 0 32.818359 54.167969 A 1.0001 1.0001 0 0 0 32.552734 54.212891 L 26.298828 56.082031 C 26.227994 49.391297 26.172759 43.108672 26.185547 39.933594 C 26.209284 34.039682 28.002884 30.90111 30.552734 28.058594 L 36.169922 32.455078 A 1.0001 1.0001 0 1 0 37.402344 30.880859 L 31.927734 26.595703 C 32.397907 26.121344 32.906125 25.61372 33.40625 25.121094 L 37.177734 29.150391 A 1.0004428 1.0004428 0 1 0 38.638672 27.783203 L 34.828125 23.712891 C 36.545443 22.034143 39.3811 21.196006 42.748047 20.869141 C 46.175281 20.536422 49.995283 20.715375 53.333984 20.591797 C 54.10327 20.563323 54.839722 20.551406 55.548828 20.560547 z M 34.34375 38.113281 C 33.79775 38.191281 33.417094 38.698141 33.496094 39.244141 C 33.574094 39.790141 34.082906 40.170797 34.628906 40.091797 C 35.174906 40.013797 35.553609 39.506937 35.474609 38.960938 C 35.396609 38.414938 34.88975 38.034281 34.34375 38.113281 z M 30.011719 41.289062 C 29.465719 41.367063 29.085062 41.875875 29.164062 42.421875 C 29.242063 42.967875 29.750875 43.348531 30.296875 43.269531 C 30.842875 43.190531 31.220578 42.682719 31.142578 42.136719 C 31.064578 41.590719 30.557719 41.210062 30.011719 41.289062 z M 77.724609 43.003906 A 2.0002 2.0002 0 0 0 77.726562 43.003906 C 78.544842 42.983976 79.333967 43.294969 79.919922 43.865234 C 80.505511 44.436447 80.836686 45.21521 80.837891 46.03125 A 2.0002 2.0002 0 0 0 80.837891 46.107422 C 80.957769 49.193541 80.971739 53.035964 80.830078 53.972656 C 80.820478 54.036236 80.897098 53.963856 80.671875 54.099609 C 80.446648 54.235319 79.942669 54.405833 79.384766 54.492188 C 78.268959 54.664896 77.083984 54.566406 77.083984 54.566406 A 2.0002 2.0002 0 0 0 76.878906 54.558594 C 76.878906 54.558594 75.98474 54.566005 75.933594 54.566406 C 76.970129 53.598965 77.936826 52.282752 78.310547 50.53125 C 79.045776 47.084196 77.71398 44.533685 76.535156 43.033203 C 76.876987 43.025284 77.405081 43.011208 77.724609 43.003906 z M 73.847656 43.097656 A 1.0001 1.0001 0 0 0 73.880859 43.123047 C 73.880859 43.123047 77.339814 45.491068 76.353516 50.115234 C 75.820288 52.614287 73.396469 54.069542 72.355469 54.59375 C 70.684735 54.606874 68.126579 54.627769 65 54.652344 C 67.341233 50.907467 67.224761 47.745932 66.285156 45.552734 C 65.895793 44.643895 65.380113 43.900674 64.880859 43.316406 C 68.142008 43.236248 70.957912 43.166124 73.847656 43.097656 z M 62.009766 43.386719 A 1.0001 1.0001 0 0 0 62.097656 43.449219 C 62.097656 43.449219 63.633799 44.441072 64.447266 46.339844 C 65.233435 48.174898 65.422506 50.83069 62.542969 54.671875 C 59.203449 54.698132 57.684141 54.709474 55.019531 54.730469 C 53.34066 54.743929 52.000109 53.451968 51.951172 51.773438 C 51.904182 50.146718 51.852711 48.335186 51.804688 46.697266 C 51.781137 45.8874 52.081213 45.101933 52.638672 44.513672 C 53.196695 43.924816 53.962612 43.582405 54.771484 43.5625 A 2.0002 2.0002 0 0 0 54.773438 43.5625 C 56.742029 43.513317 59.458488 43.44982 62.009766 43.386719 z M 36.490234 44.462891 C 35.944234 44.540891 35.565531 45.049703 35.644531 45.595703 C 35.722531 46.141703 36.229391 46.520406 36.775391 46.441406 C 37.321391 46.363406 37.702047 45.856547 37.623047 45.310547 C 37.545047 44.764547 37.036234 44.383891 36.490234 44.462891 z M 55.292969 46.9375 C 54.240969 46.9375 53.387719 47.792703 53.386719 48.845703 C 53.386719 49.898703 54.239969 50.751953 55.292969 50.751953 C 56.345969 50.751953 57.199219 49.897703 57.199219 48.845703 C 57.199219 47.792703 56.344969 46.9375 55.292969 46.9375 z M 70.103516 46.990234 C 69.051516 46.990234 68.195312 47.843484 68.195312 48.896484 C 68.195312 49.949484 69.050516 50.804688 70.103516 50.804688 C 71.156516 50.804688 72.009766 49.949484 72.009766 48.896484 C 72.009766 47.843484 71.155516 46.990234 70.103516 46.990234 z M 42.517578 48.841797 A 1.0001 1.0001 0 0 0 41.554688 49.876953 L 41.642578 53.714844 A 1.0002522 1.0002522 0 1 0 43.642578 53.669922 L 43.554688 49.832031 A 1.0001 1.0001 0 0 0 42.517578 48.841797 z M 67.136719 65.308594 C 68.633755 65.31053 68.954143 65.317279 69.601562 65.324219 L 70.638672 78.564453 C 69.814407 78.845417 68.789378 79.133666 67.613281 79.388672 C 65.359249 79.877399 62.564189 80.293817 59.570312 80.574219 C 53.582561 81.135022 46.776072 81.143375 41.851562 80.197266 C 40.678171 79.971721 39.81303 79.645247 39.197266 79.052734 C 38.581501 78.460222 38.111173 77.533813 37.921875 75.806641 C 37.728994 74.046782 37.845495 72.222162 38.496094 70.664062 C 39.146695 69.105964 40.29118 67.782121 42.382812 66.878906 C 43.231285 66.512596 45.649326 66.10636 48.554688 65.863281 C 51.460048 65.620202 54.931322 65.478989 58.261719 65.400391 C 61.592115 65.321792 64.780841 65.305547 67.136719 65.308594 z M 56.820312 68.289062 A 1.0001 1.0001 0 0 0 55.845703 69.40625 L 56.617188 76.785156 A 1.0001 1.0001 0 1 0 58.605469 76.578125 L 57.833984 69.199219 A 1.0001 1.0001 0 0 0 56.820312 68.289062 z M 50.599609 68.376953 A 1.0001 1.0001 0 0 0 49.671875 69.533203 L 50.685547 76.546875 A 1.0004463 1.0004463 0 0 0 52.666016 76.261719 L 51.650391 69.246094 A 1.0001 1.0001 0 0 0 50.599609 68.376953 z M 67.605469 68.498047 A 1.0001 1.0001 0 0 0 66.625 69.517578 L 66.650391 75.068359 A 1.0001 1.0001 0 1 0 68.650391 75.058594 L 68.625 69.507812 A 1.0001 1.0001 0 0 0 67.605469 68.498047 z M 62.580078 68.533203 A 1.0001 1.0001 0 0 0 61.626953 69.576172 L 61.820312 76.048828 A 1.0001 1.0001 0 1 0 63.818359 75.990234 L 63.625 69.517578 A 1.0001 1.0001 0 0 0 62.580078 68.533203 z M 44.316406 69.220703 A 1.0001 1.0001 0 0 0 43.361328 70.162109 L 42.896484 76.583984 A 1.0001 1.0001 0 1 0 44.890625 76.728516 L 45.355469 70.306641 A 1.0001 1.0001 0 0 0 44.316406 69.220703 z M 71.314453 80.466797 A 2.0002 2.0002 0 0 0 72.945312 80.992188 L 74.974609 80.720703 L 75.474609 85.660156 C 74.297994 86.11571 70.141491 87.611514 62.300781 88.613281 L 63.042969 85.261719 A 1.0001 1.0001 0 0 0 62.072266 84.03125 A 1.0001 1.0001 0 0 0 61.089844 84.828125 L 60.205078 88.822266 A 1.0001263 1.0001263 0 0 0 60.199219 88.853516 C 59.685524 88.908295 59.143386 88.956056 58.601562 89.005859 L 59.693359 85.527344 A 1.0001 1.0001 0 0 0 58.732422 84.212891 A 1.0001 1.0001 0 0 0 57.785156 84.927734 L 56.443359 89.201172 C 55.822153 89.246347 55.187705 89.290524 54.533203 89.328125 L 56.570312 84.167969 A 1.0001 1.0001 0 0 0 55.955078 82.837891 C 57.240107 82.770306 58.516872 82.682631 59.757812 82.566406 C 62.819187 82.279683 65.678954 81.855054 68.037109 81.34375 C 69.289879 81.07212 70.379915 80.785716 71.314453 80.466797 z"
				></path>
			</svg>
			<span class="text-xl font-bold sm:text-2xl">Adu</span>
		</a>
		<nav
			id="navigation-menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-[--theme-menu-bg] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			aria-label="Main menu"
		>
			{
				MENU_LINKS.map((link) => (
					<a
						href={link.path}
						class="px-4 py-4 sm:py-0 sm:hover:underline"
						aria-current={url.pathname === link.path ? "page" : false}
						rel="prefetch"
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<ThemeToggle />
	<button
		id="toggle-navigation-menu"
		class="group relative ms-8 h-7 w-7 sm:invisible sm:hidden"
		type="button"
		aria-label="Open main menu"
		aria-expanded="false"
		aria-haspopup="menu"
	>
		<svg
			id="line-svg"
			class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
			aria-hidden="true"
			focusable="false"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
		>
			<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
		</svg>
		<svg
			id="cross-svg"
			class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
			class="text-accent"
			aria-hidden="true"
			focusable="false"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
		>
			<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
		</svg>
	</button>
</header>
