---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<!-- <h1 class="title mb-6">Hey It's Adu</h1> -->
		<p class="mb-4">
			Hi I'm <strong>Muhammad</strong> aka <strong>Adu</strong> it's just my childhood nickname nobody
			knows what it means even my mom. im a <strong>self-taught</strong> developer. i love <strong
				>building stuff</strong
			>. I enjoy<strong> web development</strong> especially the backend stuff, loves exploring new languages,
			solving problems and always improving myself as a <strong>Person</strong> and a <strong
				>dev</strong
			>.
		</p>
		<p>
			Currently on the <a
				href="http://www.theodinproject.com"
				target="_blank"
				rel="noopener noreferrer"><strong>Odin curricullum,</strong></a
			> learning <strong>Rust</strong> and <strong>Ocaml</strong>, Some CS fundamentals, sharing
			what i learn and my thoughts on the <strong>blog</strong>.
		</p>
		<SocialList />
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://github.com/adumansr/personal_blog"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Personal Blog
				</a>:
				<p class="inline-block sm:mt-2">
					A simple website built with Astro to document and share my journey.
				</p>
			</li>
		</ul>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Blog</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
